div.search-box {
    height: 120px;
    margin-top: 130px;
    text-align: center;
}

/* search bar */
.searchbar {
    background-color: #d9d9d9;
    border: none;
    border-radius: 30px;
    display: flex;
    height: 40px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

input[type="text"] {
    border: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    width: 400px;
}

input[type="text"]::after {
    background-color: transparent;
}

.searchbar:hover {
    background-color: hsl(0, 0%, 80%);
}

svg {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

#sbar {
    background-color: transparent;
    display: flex;
    border: 0px;
    margin-left: 5px;

}

/* ++++++++++++++++++++++++++++++ */

.upper-r {
    text-align: right;
    margin-top: 15px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: rgb(44, 44, 44);
    padding: 5px;
}


a:hover {
    text-decoration: underline;
}

label {
    position: relative;
}

.sb {
    background-color: #e9e9e9;
    border-radius: 0px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px 2px;
    height: 40px;
    width: 150px;
    line-height: 7px;
    padding: 16px 12px;
    text-align: center;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.1s;
}

.sbar2 {
    background-color: hsl(0, 0%, 97%);
    color: hsl(0, 0%, 25%);
    border: 0px solid #e7e7e7;
    border-radius: 4px;
}

.sbar2:hover {
    border: 1px solid #afafaf;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0,0.3);
}

hr {
    size: .5px;
    opacity: 0.25;
}

.container {
    margin-top: 25px;
}

/* ADVANCE SEARCH */

.adv {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: hsl(0, 100%, 60%);
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 20px;
}

form {
    vertical-align: baseline;
    text-decoration: none;
}

.firstfield {
    width: 100%;
    margin-left: 30px;
    margin-top: 50px;
}

#field01 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: hsl(0, 0%, 15%);
    text-shadow: hsl(0, 0%, 20%);
}

.field {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: hsl(0, 0%, 15%);
    text-shadow: hsl(0, 0%, 20%);
}

.left {
    width: 150px;
    float: left;
}

.inline {
    display: flexbox;
}

input[type="text"] {
    border: 1px solid gray;
}

input[type="submit"] {

    float: right;
}